:root {
  --wb-purple: #481173;
  --wb-magenta: #cb11ab;
  --wb-bg: #f6f6f9;
  --wb-text: #2b2b2b;
  --wb-gradient: linear-gradient(90deg, #481173 0%, #cb11ab 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--wb-bg);
  color: var(--wb-text);
  margin: 0;
  padding: 20px;
}

table,
th,
td {
  border: none;
  border-collapse: collapse;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
  width: 100%;
  padding: 10px 14px;
  border: none;
  background: var(--wb-gradient);
  color: white;
  cursor: pointer;
  transition:
    transform 0.1s,
    opacity 0.3s;
  border-radius: 12px;
  font-size: 16px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  font-weight: 600;
}

button:hover {
  opacity: 0.9;
  box-shadow:
    1px 2px 2px rgba(0, 0, 0, 0.25),
    2px 3px 5px rgba(0, 0, 0, 0.22);
}

button:active {
  transform: scale(0.98);
}

.step {
  margin-top: 20px;
  display: none;
  flex-direction: column;
}

#extra-payments {
  display: none;
  flex-direction: column;
}

#extra-payments > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#costInputs {
  display: none;
}

.container {
  max-width: 800px;
  background: white;
  padding: 30px;
  margin: 50px auto;
  border-radius: 24px;
  box-shadow:
    0 10px 30px -5px rgba(0, 0, 0, 0.1),
    0 5px 15px -5px rgba(0, 0, 0, 0.04);
}

h2 {
  color: var(--wb-purple);
  font-size: 20px;
  border-left: 4px solid var(--wb-magenta);
  padding-left: 15px;
  margin: 20px 0 20px;
  font-weight: 700;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--wb-bg);
  padding: 12px 20px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.cost-input {
  width: 120px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  text-align: right;
}

input:focus {
  outline: none;
  border-color: var(--wb-magenta);
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  border-width: 0;
  font-size: 16px;
}

.result-table th,
.result-table td {
  padding: 10px 2px 2px 2px;
  border-bottom: 1px solid #f0f0f0;
}

.result-table tr:last-child td {
  border: none;
}

.total-row {
  background: var(--wb-bg);
  font-size: 1.2em;
  padding: 15px !important;
  font-weight: 500;
}

.negative {
  color: #d9534f;
}

.negative > td {
  padding-left: 30px !important;
}

.positive {
  color: #28a745;
}

tr td:first-child,
tr th:first-child {
  text-align: left;
  padding-left: 15px;
}

tr td:not(:first-child) {
  text-align: right;
  padding-right: 15px;
}

.text {
  font-weight: 500;
}

.table-line td {
  border-top: 2px solid #807d7d;
}

.product-block {
  margin-bottom: 10px;
  background: var(--wb-bg);
  overflow: hidden;
  border-radius: 12px;
}

.switch-label {
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  display: flex;
  align-items: center;
}

.product-block .input-row {
  margin-bottom: 0;
  border-radius: 12px 12px 0 0;
}

.spoiler-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.7s ease-out;
  overflow: hidden;
}

.spoiler-content.is-open {
  grid-template-rows: 1fr;
}

.spoiler-inner {
  min-height: 0;
}

.art-cost {
  display: block !important;
  width: 100%;
}

.s-input {
  width: 100% !important;
  padding: 6px !important;
  font-size: 13px !important;
  border-radius: 7px;
  border-width: 0.5px;
  border: 1px solid #ddd;
}

.spoiler-footer {
  text-align: right;
  font-size: 14px;
  padding: 10px;
}

.costTable {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

.costTable input {
  margin: 4px;
}

.costTable tr:hover {
  background: var(--wb-gradient);
  color: var(--wb-bg);
}

.costTable tr:hover input {
  color: var(--wb-bg);
  border-color: var(--wb-bg);
  background-color: transparent;
}

.s-field {
  height: 40px;
}

.controls-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cost-mgmt-container {
  margin: 5px 20px 0 20px;
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
}

.cost-mgmt-title {
  margin-top: 0;
  font-size: 1.1em;
}

.new-cost-row {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.new-cost-input {
  flex: 1;
  padding: 5px;
  height: 32px;
}

.btnAddCost {
  border: none;
  padding: 5px 15px;
  border-radius: 0;
  cursor: pointer;
  width: 200px;
}

#authContainer {
  background: white;
  padding: 40px;
  border-radius: 32px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 200px auto;
}

.auth-input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
}

.auth-input:focus {
  outline: none;
  border-color: var(--wb-magenta);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#statusMsg {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

#authUserInfo {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  top: 20px;
  right: 20px;
}

#authUserLogin {
  color: var(--wb-purple);
  margin: 0;
}

#btnLogout {
  color: white;
  margin: 0;
}

#authModeLink {
  margin-left: 5px;
  color: var(--wb-magenta);
  cursor: pointer;
  display: inline-block;
}

.hidden-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  text-align: center;
  color: black;
  font-size: 14px;
  text-decoration: none;
  transition: opacity 0.2s;
  width: 100%;
  padding: 20px;
  border: 2px dashed #ddd;
  border-radius: 16px;
  background: #fafafa;
}

.custom-file-button:hover {
  opacity: 0.7;
  color: var(--wb-magenta);
  border-color: var(--wb-magenta);
}

.custom-file-button:active {
  transform: translateY(1px);
}

.unit-val {
  min-width: 100px;
}

.total-cost {
  width: 20%;
}

.shadow-deep {
  box-shadow:
    0 10px 30px -5px rgba(0, 0, 0, 0.1),
    0 5px 15px -5px rgba(0, 0, 0, 0.04);
}

.shadow-medium {
  box-shadow:
    3px 1px 4px 1px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
}

.shadow-light {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.calculate-button {
  margin-top: 20px;
}

input {
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

#authUserTokens {
  min-width: 100px;
  text-align: right;
  margin: 0;
}

.tableNumber {
  letter-spacing: 0.5px;
}

.scrollable {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #cb11ab #f1f1f1;
}

.history-table td {
  width: 180px;
  white-space: nowrap;
  padding: 10px;
}

.history-table td:first-child {
  width: 340px;
  position: sticky;
  left: 0;
  z-index: 10;
  border-right: 2px solid #ddd;
  background-color: white;
}

.history-table td {
  border-bottom: 1px solid #f0f0f0;
}

.history-table {
  width: 100%;
  min-width: 600px;
  border-collapse: separate;
  border-spacing: 0;
  display: block;
}

.history-table::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.history-table::-webkit-scrollbar-track {
  background: #b2a4a4;
  border-radius: 10px;
}

.history-table::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #cb11ab 0%, #481173 100%); /* Фирменный градиент */
  border-radius: 10px;
  cursor: pointer;
}

.history-table::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #e529c0 0%, #5e1891 100%);
}

.history-table.single-report {
  min-width: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.history-table.single-report td {
  width: auto;
  white-space: normal;
}

.history-table.single-report td:first-child {
  width: auto;
  position: static;
  left: auto;
  border-right: none;
}

.costTable tr:first-child,
.history-table tr:first-child {
  background: var(--wb-gradient) !important;
  color: var(--wb-bg);
}

.history-table tr:first-child td:first-child {
  background-color: #671180;
}

.total-row td {
  background-color: var(--wb-bg) !important;
}

.product-sales-toggle-row td {
  padding-top: 14px;
}

.product-sales-toggle-btn {
  width: auto;
  min-width: 180px;
}

.product-sales-inline-toggle {
  border: none;
  background: transparent;
  box-shadow: none;
  color: var(--wb-magenta);
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  margin-left: 8px;
  width: auto;
  cursor: pointer;
  text-decoration: underline;
}

.product-sales-inline-toggle:hover {
  opacity: 0.8;
  box-shadow: none;
}

.product-sales-details-row {
  display: none;
}

.product-sales-details-row.is-open {
  display: table-row;
}

.product-sales-table {
  width: 100%;
  border-collapse: collapse;
}

.product-sales-details-row td {
  padding: 0px;
  border-bottom: 1px solid #f0f0f0;
}

.product-sales-table td {
  padding: 10px 0px 0px 15px;
}

.sales-count-row {
  vertical-align: top;
  text-align: left;
  padding: 0;
}
